doctype html
html(lang="en")
  head
    script.
      var configId = !{configId};
      var elementData = !{elementData};
      var hostUrl = !{hostUrl};
    link(rel="stylesheet" href=base+'main.css')
    script(src=base+'lib/jquery-3.3.1.min.js')
    script.
      window.exports = {};
    script(src=base+'lib/configurationFrontendClient.js')
    script(src=base+'lib/socket.io.js')
    script.
      io = exports.io;
  body
    include body.html